h3 {
  padding: 20px 0px 0px 25px;
}
.outsidebox {
  width: 350px;
  height: 625px;
  outline: #cecece solid 1px;
  box-shadow: 10px 10px 0px #e6e6e6;
}
img {
    display: block;
    margin: auto;
}
.innerbox {
  outline: #cecece solid 1px;
  margin: 10px 25px 25px 25px;
  padding: 3px 15px 5px 15px;
}
.facts {
  font-style: italic;
}
li {
    list-style-type: none;
}
.notation {
  font-weight: bold;
}
